.what-we-do
{
    height: 135px;  
    width: 100%;
    margin-bottom: 15px;
    
}
.what-we-do__title
{
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 6px;
    margin-left: 52px;
    margin-top: 16px;
    margin-bottom: -5px;
    z-index: 1;
}
.what-we-do__title::before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background: var(--bg-icon-hover-color);
    margin-left: -7px;
}
.what-we-do__first
{
    display: flex;
    padding: 25px 40px 15px 46px;
    font-size: 3px;
    margin-left: -4px;
    margin-bottom: -25px;
}
.what-we-do__first1
{
    max-width: 80px;
    text-align: center;
    margin-right: 5px;
}
.what-we-do__first1--icon
{
    font-size: 6px;
    color: var(--text-box-color);
}
.what-we-do__first1--title
{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}
.what-we-do__first1--des
{
    font-weight: 300;
}
.what-we-do__first2
{
    max-width: 80px;
    text-align: center;
    margin-right: 5px;

}
.what-we-do__first2--icon
{
    font-size: 6px;
    color: var(--text-box-color);
}
.what-we-do__first2--title
{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}
.what-we-do__first2--des
{
    font-weight: 300;
}
.what-we-do__first3
{
    max-width: 80px;
    text-align: center;
    margin-right: 5px;

}
.what-we-do__first3--icon
{
    font-size: 6px;
    color: var(--text-box-color);
}
.what-we-do__first3--title
{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}
.what-we-do__first3--des
{
    font-weight: 300;
}

.what-we-do__first4
{
    max-width: 80px;
    text-align: center;
    margin-right: 5px;

}
.what-we-do__first4--icon
{
    font-size: 6px;
    color: var(--text-box-color);
}
.what-we-do__first4--title
{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}
.what-we-do__first4--des
{
    font-weight: 300;
}