.stay-in-touch
{
    width: 100%;
    height: 150px;
}
.stay-in-touch__title
{
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 6px;
    margin-left: 52px;
    margin-top: 16px;
    margin-bottom: -5px;
    z-index: 1;
}
.stay-in-touch__title::before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background: var(--bg-icon-hover-color);
    margin-left: -7px;
}
.stay-in-touch__main--img
{
    width: 100%;
    height: 70px;
    object-fit: cover;
    margin-top: 20px;
}
.stay-in-touch__container
{
    display: flex;
}
.stay-in-touch__main
{
    max-width: 50%;
}
.stay-in-touch__main--content
{
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 47px;
    font-size: 4px;
    margin-top: 10px;
}
.stay-in-touch__main--des1
{
    font-size: 3px;
    padding-left: 45px;
    margin-top: 6px;
}
.stay-in-touch__main--des2
{
    
    font-size: 3px;
    padding-left: 45px;
    margin-top: 6px;
}
.stay-in-touch__form
{
    position: absolute;
    max-width: 35%;
    height: 60px;
    right: 15%;
    padding: 10px;
    background-color: white;
    transform: translateY(-50%);
}
.stay-in-touch__form--topname
{
    display: flex;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: -7px;
    font-size: 3px;
}
.stay-in-touch__form--topinput
{
    display: flex;
}
#text1
{
    font-size: 3.2px;
    height: 7px;
    margin-top: 2px;
    background-color: var(--before-color);
    border: 1px solid transparent;
    border-radius: 1px;
}
#text2
{
    font-size: 3.2px;
    margin-left: 3px;
    margin-top: 2px;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: var(--before-color);
    margin-right: 100px;
}
.header__form
{
    text-transform: uppercase;
    font-size: 3px;
    font-weight: 100;
    margin-top: 5px;
}
.header__form2
{
    margin-left: 25px;
}
#text3
{
    width: 107%;
    height: 25px;
    margin-top: 2px;
    font-size: 4.5px;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: var(--before-color);
}
.stay-in-touch__form--btn
{
    font-size: 3px;
    cursor: pointer;
    background-color: var(--text-box-color);
    border: 1px solid transparent;
    padding: 1px 2px 1px 2px;
    text-transform: uppercase;
    color: white;
}
#text1:focus
{
    background-color: white;
    border: 1px solid transparent;
}
#text2:focus
{
    background-color: white;
    border: 1px solid transparent;
}
#text3:focus
{
    background-color: white;
    border: 1px solid transparent;
}