.footer
{
    width: 100%;
    height: 15px;
    background-color: var(--bg-img-hover-color);
    color: white;
}
.footer__main
{
    display: flex;
    align-items: center;
}
.footer__main--content
{
    font-size: 2.5px;
    padding-left: 45px;
    margin-top: 6.5px;
}
.footer__main--icons
{
    position: absolute;
    display: flex;
    margin-top: 7px;
    right: 43px;
    overflow: hidden;
}
.footer__main--icon
{
    position: relative;
    list-style: none;
    cursor: pointer;
    font-size: 3px;
    margin-left: 3px;
}